
<div class="container-sm">
    <form class="login-form">
      <h3 class="headings">
        <small class="text-muted">Login</small>
      </h3>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
     
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    
    <button type="submit" class="btn btn-primary">Login</button>
    <p class="h6">Not a user?<a href="/signup" class="btn btn-secondary "> Register</a></p>
  </form></div>